<main class="bg-gray-50 dark:bg-gray-900 h-screen text-white">
      <div class="flex justify-between pl-10">
        <div class="justify-center flex">
        <h2 class="h-auto text-3xl text-gray-900 dark:text-gray-50 pt-4">Administracion</h2>
        </div>
        
        <div class="flex justify-end py-2 pr-5 gap-5">
          <a class="w-34 text-white bg-red-600 hover:bg-red-500 focus:ring-4 focus:outline-none focus:ring-red-500 font-medium rounded-lg text-sm px-5 py-2.5 text-center 
          dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800 flex" routerLink="/periodista/administrar-categorias"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 me-2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75a4.5 4.5 0 0 1-4.884 4.484c-1.076-.091-2.264.071-2.95.904l-7.152 8.684a2.548 2.548 0 1 1-3.586-3.586l8.684-7.152c.833-.686.995-1.874.904-2.95a4.5 4.5 0 0 1 6.336-4.486l-3.276 3.276a3.004 3.004 0 0 0 2.25 2.25l3.276-3.276c.256.565.398 1.192.398 1.852Z" />
              <path stroke-linecap="round" stroke-linejoin="round" d="M4.867 19.125h.008v.008h-.008v-.008Z" />
            </svg> Categorías</a>
            <a class="w-32 text-white bg-red-600 hover:bg-red-500 focus:ring-4 focus:outline-none focus:ring-red-500 font-medium rounded-lg text-sm px-5 py-2.5 text-center 
            dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800 flex" routerLink="/periodista/administrar-noticias"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 me-2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75a4.5 4.5 0 0 1-4.884 4.484c-1.076-.091-2.264.071-2.95.904l-7.152 8.684a2.548 2.548 0 1 1-3.586-3.586l8.684-7.152c.833-.686.995-1.874.904-2.95a4.5 4.5 0 0 1 6.336-4.486l-3.276 3.276a3.004 3.004 0 0 0 2.25 2.25l3.276-3.276c.256.565.398 1.192.398 1.852Z" />
              <path stroke-linecap="round" stroke-linejoin="round" d="M4.867 19.125h.008v.008h-.008v-.008Z" />
            </svg> Noticias</a>
        <a routerLink="/principal/dashboard"
            class="w-32 text-white bg-red-600 hover:bg-red-500 focus:ring-4 focus:outline-none focus:ring-red-500 font-medium rounded-lg text-sm px-5 py-2.5 text-center 
            dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800" style="height: 40px;">Volver</a>
    
        <button (click)="logOut()"
            class="w-28 text-white bg-red-600 hover:bg-red-500 focus:ring-4 focus:outline-none focus:ring-red-500 font-medium rounded-lg text-sm px-5 py-2.5 
            text-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800" style="height: 40px;">Salir</button>
        </div>
    </div>




      <hr>
      
    <form class="custom-form" [formGroup]="formularioNoticia" (ngSubmit)="crearNoticia()" style="padding-top: 5%;">
      <div class="flex flex-col items-center justify-center px-6 pt-8 mx-auto lg:py-0">
        <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
          Crear Noticia
        </h1>
  
        <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
          <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
            <div class="space-y-4 md:space-y-6">
              <div>
                <label for="titulo" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Título</label>
                <input type="text" name="titulo" id="titulo" formControlName="titulo"
                  class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  placeholder="" required>
              </div>
              <div>
                <label for="cuerpo" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Cuerpo</label>
                <textarea name="cuerpo" id="cuerpo" formControlName="cuerpo"
                  class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 h-40 resize-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  required></textarea>
              </div>
              <div>
                <label for="categoria" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Categoría</label>
                <select name="categoria" id="categoria" formControlName="categoria"
                  class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  required>
                  <option value="">Seleccionar categoría</option>
                  <option *ngFor="let categoria of categorias" [value]="categoria.tipo">{{ categoria.tipo }}</option>
                </select>
              </div>
              <div>
                <label for="autor" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Autor</label>
                <input type="text" name="autor" id="autor" formControlName="autor" readonly
                  class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  placeholder="" required>
              </div>
              <button type="submit"
                class="w-full text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-primary-800">
                Crear Noticia
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
</main>
  