<main class="bg-gray-50 dark:bg-gray-900 h-screen text-white">
    <div class="flex justify-between pt-4 pl-10">
      <div class="justify-center flex">
      <h2 class="h-auto text-3xl text-gray-900 dark:text-gray-50">Panel Periodista Categorias</h2>
      </div>
      
      <div class="flex justify-end py-2 pr-5 gap-5">
      <a routerLink="/periodista/crear-noticia/{{ usuarioActual?.id }}"
          class="w-32 text-white bg-red-600 hover:bg-red-500 focus:ring-4 focus:outline-none focus:ring-red-500 font-medium rounded-lg text-sm px-5 py-2.5 text-center 
          dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">Volver</a>
  
      <button (click)="logOut()"
          class="w-28 text-white bg-red-600 hover:bg-red-500 focus:ring-4 focus:outline-none focus:ring-red-500 font-medium rounded-lg text-sm px-5 py-2.5 
          text-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">Salir</button>
      </div>
    </div>

    <hr>
    <div class="py-4 mt-5 flex justify-center">
      <div class="card bg-transparent">
        <div class="card-header mb-5 flex justify-between">
          <h3 class="pt-4">Listado de categorías</h3>
          <a class="bg-transparent hover:bg-white-500 text-white-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded" routerLink="/periodista/crear-categoria">Crear Categoria</a>
        </div>
        <div class="relative overflow-x-auto">
          <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400" *ngIf="categorias.length > 0">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
              <tr>
                <th scope="col" class="px-6 py-3">Nombre</th>
                <th scope="col" class="px-6 py-3">Descripción</th>
                <th scope="col" class="px-6 py-3">Editar</th>
                <th scope="col" class="px-6 py-3">Eliminar</th>
              </tr>
            </thead>
            <tbody>
              <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700" *ngFor="let categoria of categorias">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{ categoria.tipo }}</th>
                <td class="px-6 py-4">{{ categoria.descripcion }}</td>
                <td class="px-6 py-4">
                  <a class="btn buttonPrincipal" *ngIf="usuarioActual?.rol == 'Admin'; else noEditar" routerLink="/periodista/editar-categoria/{{ categoria.id }}">
                    Editar
                  </a>
                </td>
                <ng-template #noEditar>
                    <td class="px-6 py-4">
                     X
                    </td>
                  </ng-template>
                <td class="px-6 py-4">
                  <button class="btn btn-danger"  *ngIf="usuarioActual?.rol == 'Admin'; else noEditar" (click)="eliminarCategoria(categoria.id!)">
                    Eliminar
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </main>
  