<main class="bg-gray-50 dark:bg-gray-900 h-screen text-white">
  <div class="flex justify-between pt-4 pl-10">
    <div class="justify-center flex">
    <h2 class="h-auto text-3xl text-gray-900 dark:text-gray-50">Editar Categoría</h2>
    </div>
    
    <div class="flex justify-end py-2 pr-5 gap-5">
    <a routerLink="/periodista/administrar-categorias"
        class="w-32 text-white bg-red-600 hover:bg-red-500 focus:ring-4 focus:outline-none focus:ring-red-500 font-medium rounded-lg text-sm px-5 py-2.5 text-center 
        dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">Volver</a>

    <button (click)="logOut()"
        class="w-28 text-white bg-red-600 hover:bg-red-500 focus:ring-4 focus:outline-none focus:ring-red-500 font-medium rounded-lg text-sm px-5 py-2.5 
        text-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">Salir</button>
    </div>
  </div>
    <hr>
    <form class="custom-form" [formGroup]="formularioEditarCategoria" (ngSubmit)="editarCategoria()" style="padding-top: 5%;">
      <div class="flex flex-col items-center justify-center px-6 pt-8 mx-auto lg:py-0">
        <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
          <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
            <div class="space-y-4 md:space-y-6">
                <div>
                    <label for="tipo" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Tipo</label>
                    <input type="text" name="tipo" id="tipo" formControlName="tipo"
                      class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                      placeholder="Tipo" required>
                  </div>
              <div>
                <label for="descripcion" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Descripción</label>
                <input type="text" name="descripcion" id="descripcion" formControlName="descripcion"
                  class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  placeholder="Descripción" required>
              </div> 
              <button type="submit"
                class="w-full text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-primary-800">
                Guardar Cambios
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </main>
  