<main class="bg-gray-50 dark:bg-gray-900 h-screen text-white">
    <header class="blog-header py-3 px-3">
      <div class="flex justify-between items-center">
        <div class="text-center">
          <a class="blog-header-logo text-dark underline">Panel Periodista Noticias</a>
        </div>
        <div class="flex justify-end items-center">
          <a class="btn btn-sm btn-outline-secondary mr-5" routerLink="/periodista/crear-noticia/{{ usuarioActual?.id }}">Volver</a>
          <button type="button" class="btn btn-sm btn-outline-secondary" style="margin-left:10%;" (click)="logOut()">Salir</button>
        </div>
      </div>
    </header>
    <hr>
    <div class="py-4 mt-5 flex justify-center">
      <div class="card bg-transparent">
        <div class="card-header mb-5 flex justify-between">
          <h3>Listado de noticias</h3>
          <a class="btn btn-sm btn-outline-secondary" routerLink="/periodista/crear-noticia/{{ usuarioActual?.id }}">Crear Noticia</a>
        </div>
        <div class="relative overflow-x-auto">
          <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400" *ngIf="noticias.length > 0">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
              <tr>
                <th scope="col" class="px-6 py-3">Título</th>
                <th scope="col" class="px-6 py-3">Autor</th>
                <th scope="col" class="px-6 py-3">Categoría</th>
                <th scope="col" class="px-6 py-3">Editar</th>
                <th scope="col" class="px-6 py-3">Eliminar</th>
              </tr>
            </thead>
            <tbody>
              <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700" *ngFor="let noticia of noticias">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{ noticia.titulo }}</th>
                <td class="px-6 py-4">{{ noticia.autor }}</td>
                <td class="px-6 py-4">{{ noticia.categoria }}</td>
                <td class="px-6 py-4" *ngIf="usuarioActual?.id == noticia.idAutor || usuarioActual?.rol == 'Admin'; else noEditar">
                  <a class="btn buttonPrincipal" routerLink="/periodista/editar-noticia/{{ noticia.id }}">
                    Editar
                  </a>
                </td>
                <ng-template #noEditar>
                    <td class="px-6 py-4">
                     X
                    </td>
                  </ng-template>
                <td class="px-6 py-4" *ngIf="usuarioActual?.id == noticia.idAutor || usuarioActual?.rol == 'Admin'; else noEditar">
                  <button class="btn btn-danger" (click)="eliminarNoticia(noticia.id!)">
                    Eliminar
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </main>
  