<div class="bg-gray-50 dark:bg-gray-900">
    <div class="flex justify-between pt-4 pl-10">
        <div class="justify-center flex">
        <h2 class="h-auto text-3xl text-gray-900 dark:text-gray-50">La Revista</h2>
        </div>
        
        <div class="flex justify-end py-2 pr-5 gap-5">
        <a routerLink="/principal/dashboard"
            class="w-32 text-white bg-red-600 hover:bg-red-500 focus:ring-4 focus:outline-none focus:ring-red-500 font-medium rounded-lg text-sm px-5 py-2.5 text-center 
            dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">Volver</a>

        <button (click)="logOut()"
            class="w-28 text-white bg-red-600 hover:bg-red-500 focus:ring-4 focus:outline-none focus:ring-red-500 font-medium rounded-lg text-sm px-5 py-2.5 
            text-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">Salir</button>
        </div>
    </div>
</div>
    
    <div class="max-w-4xl mx-auto px-4 py-8" *ngIf="noticia">
        <div class="bg-white rounded-lg shadow-lg overflow-hidden">
          <!-- Cabecera de la noticia -->
          <div class="px-6 py-4 bg-gray-800">
            <h1 class="text-3xl font-semibold text-white">{{ noticia.titulo }}</h1>
            <p class="text-sm text-gray-400">{{ noticia.categoria }}</p>
          </div>
      
          <!-- Cuerpo de la noticia -->
          <div class="px-6 py-4">
            <p class="text-gray-700 word-break">{{ noticia.cuerpo }}</p>
          </div>
      
          <!-- Pie de la noticia -->
          <div class="px-6 py-4 bg-gray-100">
            <p class="text-sm text-gray-600">Escrito por: {{ noticia.autor }}</p>
          </div>
        </div>
      </div>

<!-- Cuadro de comentarios -->
<div class="max-w-4xl mx-auto px-4 py-8">
    <h2 class="text-2xl font-semibold mb-4">Comentarios</h2>
  
    <!-- Lista de comentarios -->
    <div *ngIf="!comentarios || comentarios.length === 0; else comentariosTemplate">
        <p>No hay comentarios</p>    
        <hr class="mb-8 mt-8">
    </div>
    
    <ng-template #comentariosTemplate>
        <div class="bg-white rounded-lg shadow-lg overflow-hidden mb-4" *ngFor="let comentario of comentarios">
            <div class="px-6 py-4">
              <div class="font-semibold flex justify-between">{{ comentario.autor }}
                <div *ngIf="idUsuario == comentario.idUsuario || usuarioRol == 'Admin'">
                    <svg (click)="comentario.id && borrarComentario(comentario.id)" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                    </svg>
                    
                </div>
              </div>
              <p class="text-gray-700">{{ comentario.contenido }}</p>
            </div>
            
          </div>
    </ng-template>

    <!-- Formulario para agregar un comentario -->
    <form class="mb-4" (ngSubmit)="agregarComentario()">
      <div class="flex flex-col mb-4">
        <label for="contenido" class="mb-2">Agregar comentario:</label>
        <textarea id="contenido" name="contenido" class="border rounded-lg p-2" rows="4" placeholder="Escribe tu comentario aquí..."  [(ngModel)]="nuevoComentario" required></textarea>
      </div>
      <button type="submit" class="bg-blue-500 text-white font-semibold py-2 px-4 rounded hover:bg-blue-600">Enviar</button>
    </form>
</div>
