  <div class="container py-4 mt-5" style="display: flex; justify-content: center;">
    <div class="card bg-transparent">
      <div class="card-header">
        <h3>Listado usuarios</h3>
      </div>
      <div class="relative overflow-x-auto">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400" *ngIf="usuarios.length > 0">
          <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
              <th scope="col" class="px-6 py-3">nombre</th>
              <th scope="col" class="px-6 py-3">apellidos</th>
              <th scope="col" class="px-6 py-3">email</th>
              <th scope="col" class="px-6 py-3">telefono</th>
              <th scope="col" class="px-6 py-3">Fecha de Creacion</th>
              <th scope="col" class="px-6 py-3">Editar</th>
              <th scope="col" class="px-6 py-3">Eliminar</th>
            </tr>
          </thead>
          <tbody>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700" *ngFor="let usuario of usuarios">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">{{ usuario.nombre }}</th>
              <td class="px-6 py-4">{{ usuario.apellidos }}</td>
              <td class="px-6 py-4">{{ usuario.email }}</td>
              <td class="px-6 py-4">{{ usuario.rol }}</td>
              <td class="px-6 py-4">{{ usuario.fechaRegistro | date: "dd/MM/yyyy HH:mm:ss" }}</td>
            <!-- botón de ELIMINAR -->
            <td>
                <a class="btn btn-danger" *ngIf="usuario.id" (click)="eliminar(usuario.id, usuario.email)">Borrar</a>
            </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>