<div class="flex justify-between pt-4 pl-10 bg-gray-50 dark:bg-gray-900">
  <div class="justify-center flex">
  <h2 class="h-auto text-3xl text-gray-900 dark:text-gray-50">Ver Categoría</h2>
  </div>
  
  <div class="flex justify-end py-2 pr-5 gap-5">
  <a routerLink="/principal/dashboard"
      class="w-32 text-white bg-red-600 hover:bg-red-500 focus:ring-4 focus:outline-none focus:ring-red-500 font-medium rounded-lg text-sm px-5 py-2.5 text-center 
      dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">Volver</a>

  <button (click)="logOut()"
      class="w-28 text-white bg-red-600 hover:bg-red-500 focus:ring-4 focus:outline-none focus:ring-red-500 font-medium rounded-lg text-sm px-5 py-2.5 
      text-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">Salir</button>
  </div>
</div>

<div class="items-center w-full flex bg-gray-50 dark:bg-gray-900 text-white" style="justify-content: space-evenly;" id="navbar-sticky">
    <ul *ngFor="let categoria of categorias" class="flex flex-col p-4 md:p-0 mt-4 font-medium border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
      <li class="flex-row w-full" >
        <a  routerLink="/categoria/ver-categoria/{{ categoria.id }}" class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">{{ categoria.tipo }}</a>
      </li>
    </ul>
  </div>

<div class="col flex flex-wrap" *ngIf="noticiasPorCategoria && noticiasPorCategoria.length">
  <div class="rounded-t-lg w-full overflow-hidden border-t border-l border-r border-gray-400 p-6 flex justify-center" *ngFor="let noticia of noticiasPorCategoria"> 
    <div class="max-w-sm w-full lg:max-w-full lg:flex">
        <div class="h-48 lg:h-auto lg:w-48 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden"   style="background-image: url('assets/images/output_44.png')" title="Woman holding a mug">
        </div>
        <div class="border-r w-full border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
          <div class="mb-8">
            <p class="text-sm text-gray-600 flex items-center">
              <svg class="fill-current text-gray-500 w-3 h-3 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                <path d="M4 8V6a6 6 0 1 1 12 0v2h1a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-8c0-1.1.9-2 2-2h1zm5 6.73V17h2v-2.27a2 2 0 1 0-2 0zM7 6v2h6V6a3 3 0 0 0-6 0z" />
              </svg>
              Members only
            </p>
            <div class="text-gray-900 font-bold text-xl mb-2">{{ noticia.titulo }}</div>
            <p class="text-gray-700 text-base" style="word-break: break-word;">{{ noticia.cuerpo }}</p>
          </div>
          <div class="flex items-center">
            <img class="w-10 h-10 rounded-full mr-4" src="https://v1.tailwindcss.com/img/jonathan.jpg" alt="Avatar of Jonathan Reinink">
            <div class="text-sm">
              <p class="text-gray-900 leading-none">{{ noticia.autor }}</p>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>   