<section class="bg-slate-900">
    <form class="form"  [formGroup]="formularioEditarUsuario" (ngSubmit)="editarUsuario()">
        <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
      <a href="#" class="flex items-center mb-6 text-2xl font-semibold text-gray-900 text-white">
        <img class="w-8 h-8 mr-2" src="../../../assets/images/logo.png" alt="logo">
        PANVDEV
      </a>
      <div
        class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
        <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
          <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
            Registro
          </h1>
          <div class="space-y-4 md:space-y-6">
            <div>
                <label for="nombre" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nombre</label>
                <input type="text" name="nombre" id="nombre" formControlName="nombre"
                  class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  placeholder="" required>
              </div>
              <div>
                <label for="apellidos" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Apellidos</label>
                <input type="text" name="apellidos" id="apellidos" formControlName="apellidos"
                  class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  placeholder="" required>
              </div>
              <div>
                <label for="telefono" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Teléfono</label>
                <input type="tel" name="telefono" id="telefono" formControlName="telefono"
                  class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  placeholder="" required>
              </div>
            <div>
              <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your email</label>
              <input type="email" name="email" id="email" formControlName="email" readonly
                class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="example@email.com" required>
            </div>
  
            <div class="mb-3 mt-3">
                <label for="rol" class="form-label textoPrincipal">Cambiar Rol</label>
                <ng-container>
                  <select id="rol" name="rol" class="form-select" formControlName="rol" required>
                    <option value="Usuario">Usuario</option>
                    <option value="Periodista">Periodista</option>
                    <option value="Admin">Administrador</option>
                  </select>
                </ng-container>
              </div>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary mt-5">
        <i class="bi bi-person-fill-gear fs-5"> Guardar cambios</i>
      </button>
    </div>
</form>
  </section>